// Width for menu lines 
@mixin tréMenu($tréWidth){
    width: $tréWidth;
}

// Easier responsive writing mixin
@mixin responsive($width){
    @media screen and (max-width:$width) {
        @content;
    }
}

// Projects display 
@mixin projectCard($flexdir){
    display: flex;
    flex-direction: $flexdir;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 0 4%;
    padding: 1% 1%;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        margin: 5%;
    }

    img{
        border-radius: 25px;
        border: solid 4px black;
    }
    .project-card {
        height: 27vw;
        width: 100%;
        margin: 0 auto;
        transition: box-shadow 0.1s, transform 0.1s;
        background-size: contain;
        background-repeat: round;
        border-radius: 25px;
        border: solid 4px black;
        transform: translateZ(0);
        margin: 3%;

        @media screen and (max-width:1200px) {
            width: 70%;
            height: 35vw;
        }

        &:after {
            content: " ";
            width: 100%;
            height: 10px;
        }
    }
    .project-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h4{
            font-size: 45px;
        }
        p{
            margin: 3%;
        }
        .magnet{
            margin: 0;
        }
    }
}

// Style for footer's links
@mixin btnFooter($bc){
    transition: ease-in-out 500ms;
    padding: 4vh 4vw;
    background-color: $bc;
    font-size: 20px;
    text-decoration: none;

    h4{
        font-family: 'Ubuntu', 'Segoe UI';
        font-size: 25px;
        color: #570A57;
    }
    
}