@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}

@keyframes animback {
  0% {
    background-position: 10% 50%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 10% 50%;
  }
}
html {
  background-image: url("img/fond.jpeg");
  animation: animback 25s ease infinite;
}

main p {
  font-family: "Ubuntu", "Segoe UI";
  font-size: 30px;
}

#logo {
  transition: ease-in 0.3s;
  margin: 0 35%;
}

.slide-title {
  margin: 5% 0;
  font-size: 90px;
  opacity: 0.5;
  font-weight: 900;
}
.slide-title-reverse {
  transform: rotate(180deg);
  line-height: 2vh;
}

.sep {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sep-line {
  height: 4px;
  width: 20vw;
  background-color: #d1d0c3;
}
.sep img {
  width: 10vw;
  margin: 0 3vw;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3%;
}

.me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
.me-txt {
  padding: 5vw;
}
.me-txt p {
  padding: 1vw;
}

.skills-init {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". fe ." "adobe title other" ". be .";
}
.skills-init h2 {
  grid-area: title;
}
.skills-init h3 {
  font-size: 40px;
  margin: 3vw;
}
.skills-init #fe {
  grid-area: fe;
}
.skills-init #fe::after {
  content: "⯆";
}
.skills-init #be {
  grid-area: be;
}
.skills-init #be::after {
  content: "⯆";
}
.skills-init #adobe {
  grid-area: adobe;
}
.skills-init #adobe::after {
  content: "⯆";
}
.skills-init #other {
  grid-area: other;
}
.skills-init #other::after {
  content: "⯆";
}

.skills-clicked {
  transition: ease-in-out 500ms;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title . ." "selected content content" "skill1 skill2 skill3";
}
.skills-clicked h2 {
  grid-area: title;
}
.skills-clicked-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "logo1 . logo2" ". logo3 ." "logo4 . logo5";
  gap: 2%;
  margin: 5%;
}
.skills-clicked-content img {
  width: 10vw;
  object-fit: cover;
}
.skills-clicked-content .logo1 {
  grid-area: logo1;
}
.skills-clicked-content .logo2 {
  grid-area: logo2;
}
.skills-clicked-content .logo3 {
  grid-area: logo3;
}
.skills-clicked-content .logo4 {
  grid-area: logo4;
}
.skills-clicked-content .logo5 {
  grid-area: logo5;
}

#content-fe {
  display: none;
}

#content-be {
  display: none;
}

#content-adobe {
  display: none;
}

#content-other {
  display: none;
}

.magnet {
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  transition: all 0.2s ease;
  cursor: pointer;
}

.magnet-mouse-active {
  background-color: antiquewhite;
  color: #6600bf;
}

.skills-title {
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: antiquewhite;
  color: #6600bf;
  cursor: pointer;
  transition: all 0.2s ease;
}

.skills-selected {
  font-size: 40px;
  background-color: none;
}
.skills-selected::after {
  content: "▶";
}

.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: antiquewhite;
}

::-webkit-scrollbar-track {
  background-color: #570A57;
}

/*# sourceMappingURL=build.css.map */
