@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}

@keyframes animback {
  0% {
    background-position: 10% 50%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 10% 50%;
  }
}
html {
  background-image: url("img/fond.jpeg");
  animation: animback 25s ease infinite;
  overflow-x: hidden;
}

main p {
  font-family: "Ubuntu", "Segoe UI";
  font-size: 30px;
}

#logo {
  transition: ease-in 0.3s;
  margin: 0 35%;
}

.slide-title {
  margin: 5% 0;
  font-size: 90px;
  opacity: 0.5;
  font-weight: 900;
}
.slide-title-reverse {
  transform: rotate(180deg);
  line-height: 2vh;
}

.sep {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sep-line {
  height: 4px;
  width: 20vw;
  background-color: #d1d0c3;
}
.sep img {
  width: 10vw;
  margin: 0 3vw;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3%;
}

.me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
.me img {
  transform: skew(0);
  transition: 300ms ease-in;
  width: 50vw;
  height: 50vh;
  object-fit: contain;
}
.me img:hover {
  transition: 300ms ease-in;
  transform: skew(-13deg, -3deg);
}
.me-txt {
  padding: 5vw;
}
.me-txt p {
  padding: 1vw;
}

.skills-init {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". fe ." "adobe title other" ". be .";
}
.skills-init h3 {
  font-size: 40px;
  margin: 3vw;
}
.skills-init #fe {
  grid-area: fe;
}
.skills-init #fe::after {
  content: "⯆";
}
.skills-init #be {
  grid-area: be;
}
.skills-init #be::after {
  content: "⯆";
}
.skills-init #adobe {
  grid-area: adobe;
}
.skills-init #adobe::after {
  content: "⯆";
}
.skills-init #other {
  grid-area: other;
}
.skills-init #other::after {
  content: "⯆";
}

.skills-clicked {
  transition: ease-in-out 500ms;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title . ." "selected content content" "skill1 skill2 skill3";
}
.skills-clicked h2 {
  grid-area: title;
}
.skills-clicked-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "logo1 . logo2" ". logo3 ." "logo4 . logo5";
  gap: 2%;
  margin: 5%;
}
.skills-clicked-content img {
  width: 10vw;
  object-fit: cover;
}
.skills-clicked-content .logo1 {
  grid-area: logo1;
}
.skills-clicked-content .logo2 {
  grid-area: logo2;
}
.skills-clicked-content .logo3 {
  grid-area: logo3;
}
.skills-clicked-content .logo4 {
  grid-area: logo4;
}
.skills-clicked-content .logo5 {
  grid-area: logo5;
}

#content-fe {
  display: none;
}

#content-be {
  display: none;
}

#content-adobe {
  display: none;
}

#content-other {
  display: none;
}

footer {
  background-color: #6600bf;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  height: 51vh;
  margin-top: 8vh;
  padding: 2%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "titre sous-titre sous-titre" "cv gifFoot monInsta";
}
@media screen and (max-width: 1000px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "titre" "sous-titre" "cv" "gifFoot" "monInsta";
    gap: 20px;
  }
}
footer h2 {
  grid-area: titre;
  font-size: 60px;
  font-weight: 900;
  color: antiquewhite;
  padding: 4vh 2vw;
}
footer h3 {
  grid-area: sous-titre;
  color: antiquewhite;
}
@media screen and (max-width: 1000px) {
  footer h3 {
    text-align: center;
  }
}
footer #cv {
  grid-area: cv;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: antiquewhite;
  font-size: 20px;
  color: #6600bf;
  text-decoration: none;
}
footer #cv:hover {
  background-color: #ED1D24;
  color: ivory;
  transition: ease-in-out 500ms;
  border-radius: 25px;
}
footer #gifFoot {
  grid-area: gifFoot;
  width: 60%;
}
footer #monInsta {
  grid-area: monInsta;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: antiquewhite;
  font-size: 20px;
  color: #6600bf;
  text-decoration: none;
}
footer #monInsta:hover {
  background-color: #ED1D24;
  color: ivory;
  transition: ease-in-out 500ms;
  border-radius: 25px;
}
footer h4 {
  color: #6600bf;
}
@media screen and (max-width: 1117px) {
  footer h4 {
    font-size: 15px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .project1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
}
.projects .project1 img {
  border-radius: 25px;
  border: solid 4px black;
}
.projects .project1 .project-card {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: contain;
  background-repeat: round;
  border-radius: 25px;
  border: solid 4px black;
  transform: translateZ(0);
}
.projects .project1 .project-card:after {
  content: " ";
  width: 100%;
  height: 10px;
}
.projects .project1 .project-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects .project1 .project-txt h4 {
  font-size: 45px;
}
.projects .project1 .project-txt p {
  margin: 2%;
}
.projects .project1 .project-card {
  background-image: url(img/prjt-rueil.jpg);
}
.projects .project2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
}
.projects .project2 img {
  border-radius: 25px;
  border: solid 4px black;
}
.projects .project2 .project-card {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: contain;
  background-repeat: round;
  border-radius: 25px;
  border: solid 4px black;
  transform: translateZ(0);
}
.projects .project2 .project-card:after {
  content: " ";
  width: 100%;
  height: 10px;
}
.projects .project2 .project-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects .project2 .project-txt h4 {
  font-size: 45px;
}
.projects .project2 .project-txt p {
  margin: 2%;
}
.projects .project2 .project-card {
  background-image: url(img/prjt-asc.jpg);
}

.reveal {
  opacity: 0;
  transform: translateY(-50px);
  transform: translateX(-100px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
  transition: 1s cubic-bezier(0.46, 0.22, 0.21, 1);
}

.magnet {
  display: inline-block;
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
}

.magnet-mouse-active {
  background-color: antiquewhite;
  color: #6600bf;
}

.skills-title {
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  color: antiquewhite;
  cursor: pointer;
  transition: all 0.2s ease;
}
.skills-title:hover {
  background-color: antiquewhite;
  color: #6600bf;
  transition: all 0.5s ease;
  transform: scale(1.3);
}

.skills-selected {
  font-size: 40px;
  background-color: none;
  color: #6600bf;
  background-color: antiquewhite;
}
.skills-selected::after {
  content: "▶";
}

.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: antiquewhite;
}
::-webkit-scrollbar-track {
  background-color: #570A57;
}

/*# sourceMappingURL=build.css.map */
