@use 'mixins';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}
@keyframes animback {
  0%{
    background-position: 10% 50%;
  }
  25%{
    background-position: 50% 75%;
  }
  50%{
    background-position: 100% 50%;
  }
  75%{
    background-position: 75% 75%;
  }
  100%{
    background-position: 10% 50%;
  }
}
html{
  background-image: url("img/fond.jpeg");
  animation: animback 25s ease infinite;
  overflow-x: hidden;
}
main{
  p{
    font-family: 'Ubuntu', 'Segoe UI';
    font-size: 30px;
  }
}

#logo{
  transition: ease-in 0.3s;
  margin:0 35%;
}
.slide-title{
  margin: 5% 0;
  font-size: 90px;
  opacity: 0.5;
  font-weight: 900;

  &-reverse{
    transform: rotate(180deg);
    line-height: 2vh;
  }
}
.sep{
  display: flex;
  align-items: center;
  justify-content: center;

  &-line{
    height: 4px;
    width: 20vw;
    background-color: #d1d0c3;
  }
  img{
  width: 10vw;
  margin: 0 3vw;
  }
}

h2{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3%;
}

.me{
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
  }
  img{
    transform: skew(0);
    transition: 300ms ease-in;
    width: 50vw;
    height: 50vh;
    object-fit: contain;

    &:hover{
      transition: 300ms ease-in;
      transform: skew(-13deg, -3deg);
    }
    
  }
  &-txt{
    padding: 5vw;

    p{
      padding: 1vw;
    }
  }
}

.skills-init{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:". fe ."
                      "adobe title other"
                      ". be .";
  
  
  
  h3{
    font-size: 40px;
    margin: 3vw;
  }

  #fe{
    grid-area: fe;
    &::after{
      content: "⯆";
    }
  }
  #be{
    grid-area: be;
    &::after{
      content: "⯆";
    }
  }
  #adobe{
    grid-area: adobe;
    &::after{
      content: "⯆";
    }
  }
  #other{
    grid-area: other;
    &::after{
      content: "⯆";
    }
  }
}

.skills-clicked{
  transition: ease-in-out 500ms;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:"title . ."
                      "selected content content"
                      "skill1 skill2 skill3";
  h2{
    grid-area: title;
  }

  &-content{
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:"logo1 . logo2"
                        ". logo3 ."
                        "logo4 . logo5";
    gap: 2%;
    margin: 5%;

    img{
      width: 10vw;
      object-fit: cover;
    }

    .logo1{
      grid-area: logo1;
    }
    .logo2{
      grid-area: logo2;
    }
    .logo3{
      grid-area: logo3;
    }
    .logo4{
      grid-area: logo4;
    }
    .logo5
    {
      grid-area: logo5;
    }

  }
}

#content-fe{
  display: none;
}
#content-be{
  display: none;
}
#content-adobe{
  display: none;
}
#content-other{
  display: none;
}

footer{
  background-color: #6600bf;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  height: 51vh;
  margin-top: 8vh;
  padding: 2%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:"titre sous-titre sous-titre"
                      "cv gifFoot monInsta";

  @include mixins.responsive(1000px){
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto auto auto auto ;
      grid-template-areas:"titre"
                          "sous-titre"
                          "cv"
                          "gifFoot"
                          "monInsta";

      gap: 20px;
  }

  h2{
      grid-area: titre;
      font-size: 60px;
      font-weight: 900;
      color: antiquewhite;
      padding: 4vh 2vw;
  }

  h3{
      grid-area: sous-titre;
      color: antiquewhite;

      @include mixins.responsive(1000px){
          text-align: center;
      }
  }

  #cv{
      grid-area: cv;
      @include mixins.btnFooter();
  }
  #gifFoot{
    grid-area: gifFoot;
    width: 60%;
}
  #monInsta{
      grid-area: monInsta;
      @include mixins.btnFooter();
  }

  h4{
    color: #6600bf;
      @include mixins.responsive(1117px){
          font-size: 15px ;
      }
  }
}


.projects{
  display: flex;
  flex-direction: column;
  align-items: center;

  .project1{
    @include mixins.projectCard(row);
    .project-card{
      background-image: url(img/prjt-rueil.jpg)
    }
  }
  .project2{
    @include mixins.projectCard(row-reverse);
    .project-card{
      background-image: url(img/prjt-asc.jpg)
    }
  }
}



.reveal{
  opacity: 0;
  transform: translateY(-50px);
  transform: translateX(-100px);
}
.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
  transition: 1s cubic-bezier(.46,.22,.21,1);
}





.magnet {
  display: inline-block;
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
  
}
.magnet-mouse-active {
  background-color: antiquewhite;
  color: #6600bf;
}

.skills-title{
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  color: antiquewhite;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover{
    background-color: antiquewhite;
    color: #6600bf;
    transition: all 0.5s ease;
    transform: scale(1.3);
  }
}
.skills-selected{
  font-size: 40px;
  background-color: none;
  color: #6600bf;
  background-color: antiquewhite;

  &::after{
    content: "▶";
  }
}


.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

::-webkit-scrollbar {
  width: 15px;

  &-thumb {
    border-radius: 10px;
    background-color: antiquewhite;
  }

  &-track {
    background-color: #570A57;
  }
}
