*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}
html{
  background-image: url("img/fond.jpeg");
  animation: animback 25s ease infinite;
}

@keyframes animback {
  0%{
    background-position: 10% 50%;
  }
  25%{
    background-position: 50% 75%;
  }
  50%{
    background-position: 100% 50%;
  }
  75%{
    background-position: 75% 75%;
  }
  100%{
    background-position: 10% 50%;
  }
}

.slide-titre{
  margin: 5% 0;
  font-size: 100px;
  opacity: 0.5;
  font-weight: 900;
  letter-spacing: 1%;

  &-reverse{
    transform: rotate(180deg);
    line-height: 2vh;
  }
}
#logo{
  transition: ease-in 0.3s;
  margin:0 35%;
}



.magnet {
  display: inline-block;
  padding: 20px;
  border-radius: 100px;
  color: white;
  background-color: #0040BF;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .5s ease;
}
.magnet-mouse-active {
  background-color: #000000;
}