*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}
@keyframes animback {
  0%{
    background-position: 10% 50%;
  }
  25%{
    background-position: 50% 75%;
  }
  50%{
    background-position: 100% 50%;
  }
  75%{
    background-position: 75% 75%;
  }
  100%{
    background-position: 10% 50%;
  }
}
html{
  background-image: url("img/fond.jpeg");
  animation: animback 25s ease infinite;
}
main{
  p{
    font-family: 'Ubuntu', 'Segoe UI';
    font-size: 30px;
  }
}

#logo{
  transition: ease-in 0.3s;
  margin:0 35%;
}
.slide-title{
  margin: 5% 0;
  font-size: 100px;
  opacity: 0.5;
  font-weight: 900;
  letter-spacing: 1%;

  &-reverse{
    transform: rotate(180deg);
    line-height: 2vh;
  }
}
.sep{
  display: flex;
  align-items: center;
  justify-content: center;

  &-line{
    height: 4px;
    width: 20vw;
    background-color: #d1d0c3;
  }
  img{
  width: 10vw;
  margin: 0 3vw;
  }
}

h2{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3%;
}

.me{
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
  }
  &-txt{
    padding: 5vw;

    p{
      padding: 1vw;
    }
  }
}

.skills{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:". fe ."
                      "adobe title other"
                      ". be .";
  
  h2{
    grid-area: title;
  }
  
  h3{
    font-size: 40px;
  }

  #fe{
    grid-area: fe;
  }
  #be{
    grid-area: be;
  }
  #adobe{
    grid-area: adobe;
  }
  #other{
    grid-area: other;
  }
}
.magnet {
  display: inline-block;
  padding: 20px;
  border-radius: 100px;
  color: white;
  background-color: #0040BF;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .5s ease;
}
.magnet-mouse-active {
  background-color: #000000;
}


.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}


