@use 'mixins';
@use 'anim';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
  text-decoration: none;
}

@keyframes animback {
  0%{
    background-position: 10% 50%;
  }
  25%{
    background-position: 50% 75%;
  }
  50%{
    background-position: 100% 50%;
  }
  75%{
    background-position: 75% 75%;
  }
  100%{
    background-position: 10% 50%;
  }
}

#divLoading{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(255 255 255 / 64%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.loading {
  display: inline-block;
  position: relative;
}

html{
  background-image: url("img/fond.jpeg");
  animation: animback 25s ease infinite;
  overflow-x: hidden;
}

#navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image : linear-gradient(to top,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 1;

  img{
      width: 40%;
      margin: 3%;

  }
}

.menu-btn-close{
  cursor: pointer;

  div{
    width: 50px;
    height: 8px;
    margin: 15%;
    background-color: antiquewhite;
    border-radius: 25px;
  }
}

.menu-btn-open{
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 95px;
  z-index: 4;
  
  div{
    width: 65px;
    height: 8px;
    margin: 15%;
    background-color: #b99cbc;
    border-radius: 25px;

    &:first-child {
      transform: translateY(20px) rotate(45deg);
    }
    &:nth-child(2){
      transform: translateX(-50px);
      background: transparent;
    }
    &:last-child {
      transform: translateY(-20px) rotate(-45deg);
    }
  }
}

#menu{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s ease-in;

  .menu-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .sl{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15vw;
      width: 100vw;
      user-select: none;

      div{
        height: 10px;
        background-color: #570A57;
      }
      #slD1{
        @include mixins.tréMenu(25vw);
      }
      #slD2{
        @include mixins.tréMenu(26vw);
      }
      #slD3{
        @include mixins.tréMenu(22vw);
      }

      &:hover div{
        @include anim.animHover;
      } 
    }

    h3{
      font-size: 70px;
      text-transform: uppercase;
    }
  }
}

.select-menu {
  @include anim.selectMenu;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10% auto;

  @include mixins.responsive(1000px){
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  h1{
    font-size: 100px;
    width: 47vw;
    font-family: 'Ubuntu', 'Segoe UI';

    @include mixins.responsive(1000px){
      width: 100%;
      margin: 1%;
    }
  }

  img{
    margin: 1% 15%;
  }
}

.slide-title{
  @include anim.slideTitle;
}

main{
  p{
    font-family: 'Ubuntu', 'Segoe UI';
    font-size: 30px;
  }
}

.sep{
  @include anim.sep;
}

h2{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3%;
}

.magnet {
  @include anim.magnet;
}

/*------------------------------------ME-----------------------------*/

.me{
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;

    @include mixins.responsive(1000px){
      flex-direction: column;
    }
  }
  img{
    transform: skew(0);
    transition: 300ms ease-in;
    width: 50vw;
    height: 50vh;
    object-fit: contain;

    &:hover{
      transition: 300ms ease-in;
      transform: skew(-13deg, -3deg);
    }
    
  }
  &-txt{
    padding: 5vw;

    p{
      padding: 1vw;
    }
  }
}
/*------------------------------------ME-----------------------------*/

/*------------------------------------SKILLS-----------------------------*/

.skills-init{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:". fe ."
                      "adobe title other"
                      ". be .";

  @include mixins.responsive(800px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:"title title"
                        "fe ."
                        ". be"
                        "adobe ."
                        ". other";
  }

  h2{
    grid-area: title;
    margin: 16% 0;

    @include mixins.responsive(1275px){
      font-size: 60px;
    }
    @include mixins.responsive(1000px){
      font-size: 50px;
      margin: 5%;
    }
  }
  h3{
    font-size: 40px;
    margin: 3vw;

    @include mixins.responsive(1000px){
      font-size: 30px;
    }
  }

  #fe{
    grid-area: fe;
    &::after{
      content: "⯆";
    }
  }
  #be{
    grid-area: be;
    &::after{
      content: "⯆";
    }
  }
  #adobe{
    grid-area: adobe;
    &::after{
      content: "⯆";
    }
  }
  #other{
    grid-area: other;
    &::after{
      content: "⯆";
    }
  }
}


.skills-clicked{
  transition: ease-in-out 500ms;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:"title . ."
                      "selected content content"
                      "skill1 skill2 skill3";

  @include mixins.responsive(800px){
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:"title"
                        "selected"
                        "content"
                        "skill1"
                        "skill2"
                        "skill3";
  }

  h2{
    grid-area: title;
  }

  &-content{
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:"logo1 . logo2"
                        ". logo3 ."
                        "logo4 . logo5";
    gap: 2%;
    margin: 5%;

    @include mixins.responsive(800px){
      margin: 0;
      gap: 5%;
    }

    img{
      width: 10vw;
      object-fit: cover;

      @include mixins.responsive(800px){
        width: 25vw;
      }
    }

    .logo1{
      grid-area: logo1;
    }
    .logo2{
      grid-area: logo2;
    }
    .logo3{
      grid-area: logo3;
    }
    .logo4{
      grid-area: logo4;
    }
    .logo5
    {
      grid-area: logo5;
    }

  }
}

#content-fe{
  display: none;
}
#content-be{
  display: none;
}
#content-adobe{
  display: none;
}
#content-other{
  display: none;
}

.skills-title{
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  color: antiquewhite;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover{
    background-color: antiquewhite;
    color: #6600bf;
    transition: all 0.5s ease;
    transform: scale(1.3);
  }
}
.skills-selected{
  font-size: 40px;
  background-color: none;
  color: #6600bf;
  background-color: antiquewhite;

  &::after{
    content: "▶";
  }
}
/*------------------------------------SKILLS-----------------------------*/

/*------------------------------------PROJECTS-----------------------------*/

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;

  .project1{
    @include mixins.projectCard(row);
    .project-card{
      background-image: url(img/prjt-rueil.jpg)
    }
  }
  .project2{
    @include mixins.projectCard(row-reverse);
    .project-card{
      background-image: url(img/prjt-asc.jpg)
    }
  }
}

.reveal{
  opacity: 0;
  transform: translateY(-50px);
  transform: translateX(-100px);
}
.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
  transition: 1s cubic-bezier(.46,.22,.21,1);
}
/*------------------------------------PROJECTS-----------------------------*/


footer{
  background-color: #6600bf;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  height: 100%;
  margin-top: 8vh;
  padding: 2%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:"titre sous-titre sous-titre"
                      "cv gifFoot monInsta";

  @include mixins.responsive(1000px){
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto auto auto auto ;
      grid-template-areas:"titre"
                          "sous-titre"
                          "cv"
                          "gifFoot"
                          "monInsta";

      gap: 20px;
  }

  h2{
      grid-area: titre;
      font-size: 60px;
      font-weight: 900;
      color: antiquewhite;
      padding: 4vh 2vw;
      margin-top: 5%;

      @include mixins.responsive(700px){
        margin-top: 10%;
      }
  }

  h3{
      grid-area: sous-titre;
      color: antiquewhite;
      font-size: 25px;
      font-family: 'Ubuntu', 'Segoe UI';

      @include mixins.responsive(1000px){
          text-align: center;
      }
  }

  #cv{
      grid-area: cv;
      @include mixins.btnFooter();
  }
  #gifFoot{
    grid-area: gifFoot;
    width: 60%;

    @include mixins.responsive(1000px){
      width: 40%;
    }
}
  #monInsta{
      grid-area: monInsta;
      @include mixins.btnFooter();
  }

  h4{
      @include mixins.responsive(1117px){
          font-size: 15px ;
      }
  }
}

.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

::-webkit-scrollbar {
  @include anim.scrollbar
}