@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
  text-decoration: none;
}

@keyframes animback {
  0% {
    background-position: 10% 50%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 10% 50%;
  }
}
html {
  background-image: url("../img/fond.jpeg");
  animation: animback 25s ease infinite;
  overflow-x: hidden;
  cursor: crosshair;
}

/*-----------------------------------HEADER STYLE-----------------------------*/
#divLoading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.64);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.loading {
  display: inline-block;
  position: relative;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 1;
}
#navbar img {
  width: 40%;
  margin: 3%;
}

.menu-btn-close {
  cursor: pointer;
}
.menu-btn-close div {
  width: 50px;
  height: 8px;
  margin: 15%;
  background-color: antiquewhite;
  border-radius: 25px;
}

.menu-btn-open {
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 95px;
  z-index: 4;
}
.menu-btn-open div {
  width: 65px;
  height: 8px;
  margin: 15%;
  background-color: #b99cbc;
  border-radius: 25px;
}
.menu-btn-open div:first-child {
  transform: translateY(20px) rotate(45deg);
}
.menu-btn-open div:nth-child(2) {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn-open div:last-child {
  transform: translateY(-20px) rotate(-45deg);
}

#menu {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s ease-in;
}
#menu .menu-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#menu .menu-nav .sl {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15vw;
  width: 100vw;
  user-select: none;
}
#menu .menu-nav .sl div {
  height: 10px;
  background-color: #570A57;
}
#menu .menu-nav .sl #slD1 {
  width: 25vw;
}
#menu .menu-nav .sl #slD2 {
  width: 26vw;
}
#menu .menu-nav .sl #slD3 {
  width: 22vw;
}
#menu .menu-nav .sl:hover div {
  background-position: right center;
  background-color: #6600bf;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 1s, background-color 1s;
}
#menu .menu-nav h3 {
  font-size: 70px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  #menu .menu-nav h3 {
    font-size: 55px;
  }
}
@media screen and (max-width: 620px) {
  #menu .menu-nav h3 {
    font-size: 50px;
  }
}

.select-menu {
  color: #570A57;
  border: solid rgba(0, 0, 0, 0);
  border-width: 3px 3px 23px 23px;
  background: conic-gradient(at left 20px bottom 20px, rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left 23px bottom 23px, rgba(0, 0, 0, 0) 90deg, #570A57 0) 0 100%/calc(100% - 3px) calc(100% - 3px) border-box;
  transform: translate(-20px, 20px);
  clip-path: polygon(20px 0%, 20px 0%, 100% 0%, 100% calc(100% - 20px), 100% calc(100% - 20px), 20px calc(100% - 20px));
  transition: 0.5s;
}
.select-menu:hover {
  transform: translate(0, 0);
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%);
}
.select-menu:active {
  color: #6600bf;
  transition: 0.3 ease-in;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10% auto;
}
@media screen and (max-width: 1000px) {
  .intro {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}
.intro h1 {
  margin-left: 2%;
  font-size: 100px;
  width: 47vw;
  font-family: "Ubuntu", "Segoe UI";
}
@media screen and (max-width: 1000px) {
  .intro h1 {
    width: 100%;
    margin: 1%;
  }
}
.intro img {
  margin: 1% 15%;
}

.slide-title {
  margin: 5% 0;
  font-size: 90px;
  opacity: 0.5;
  font-weight: 900;
}
@media screen and (max-width: 1175px) {
  .slide-title {
    line-height: 10vh;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 650px) {
  .slide-title {
    font-size: 70px;
  }
}
.slide-title-reverse {
  transform: rotate(180deg);
  line-height: 2vh;
}
@media screen and (max-width: 1175px) {
  .slide-title-reverse {
    line-height: 10vh;
  }
}
@media screen and (max-width: 650px) {
  .slide-title-reverse {
    font-size: 70px;
  }
}

.sep {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sep-line {
  height: 4px;
  width: 20vw;
  background-color: #d1d0c3;
}
@media screen and (max-width: 1000px) {
  .sep-line {
    height: 5px;
    width: 25vw;
  }
}
.sep img {
  width: 10vw;
  margin: 0 3vw;
}
@media screen and (max-width: 1000px) {
  .sep img {
    width: 20vw;
  }
}

/*-----------------------------------HEADER STYLE-----------------------------*/
/*-----------------------------------GENERAL CONTENT STYLE-----------------------------*/
main p {
  font-family: "Ubuntu", "Segoe UI";
  font-size: 30px;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3%;
}

.magnet {
  display: inline-block;
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
}
.magnet-mouse-active {
  background-color: antiquewhite;
  color: #6600bf;
}

/*-----------------------------------GENERAL CONTENT STYLE-----------------------------*/
/*------------------------------------ME-----------------------------*/
.me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
@media screen and (max-width: 1000px) {
  .me-content {
    flex-direction: column;
  }
}
.me img {
  transform: skew(0);
  transition: 300ms ease-in;
  width: 50vw;
  height: 50vh;
  object-fit: contain;
}
.me img:hover {
  transition: 300ms ease-in;
  transform: skew(-13deg, -3deg);
}
.me-txt {
  padding: 5vw;
}
.me-txt a {
  text-decoration: underline;
  transition: 200ms ease-in;
}
.me-txt a:hover {
  color: blue;
  transition: 200ms ease-in;
}
.me-txt p {
  padding: 1vw;
}

/*------------------------------------ME-----------------------------*/
/*------------------------------------SKILLS-----------------------------*/
.skills-init {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". fe ." "adobe title other" ". be .";
}
@media screen and (max-width: 800px) {
  .skills-init {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "title title" "fe ." ". be" "adobe ." ". other";
  }
}
.skills-init h2 {
  grid-area: title;
  margin: 16% 0;
}
@media screen and (max-width: 1275px) {
  .skills-init h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .skills-init h2 {
    font-size: 50px;
    margin: 5%;
  }
}
@media screen and (max-width: 880px) {
  .skills-init h2 {
    font-size: 45px;
  }
}
@media screen and (max-width: 800px) {
  .skills-init h2 {
    font-size: 60px;
  }
}
.skills-init h3 {
  font-size: 40px;
  margin: 3vw;
}
@media screen and (max-width: 1000px) {
  .skills-init h3 {
    font-size: 30px;
  }
}
.skills-init #fe {
  grid-area: fe;
}
.skills-init #fe::after {
  content: "⯆";
}
.skills-init #be {
  grid-area: be;
}
.skills-init #be::after {
  content: "⯆";
}
.skills-init #adobe {
  grid-area: adobe;
}
.skills-init #adobe::after {
  content: "⯆";
}
.skills-init #other {
  grid-area: other;
}
.skills-init #other::after {
  content: "⯆";
}

.skills-clicked {
  transition: ease-in-out 500ms;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title . ." "selected content content" "skill1 skill2 skill3";
}
@media screen and (max-width: 800px) {
  .skills-clicked {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "title" "selected" "content" "skill1" "skill2" "skill3";
  }
}
.skills-clicked h2 {
  grid-area: title;
}
.skills-clicked-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "logo1 . logo2" ". logo3 ." "logo4 . logo5";
  gap: 2%;
  margin: 5%;
}
@media screen and (max-width: 800px) {
  .skills-clicked-content {
    justify-content: center;
  }
}
.skills-clicked-content img {
  width: 10vw;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .skills-clicked-content img {
    width: 25vw;
  }
}
.skills-clicked-content .logo1 {
  grid-area: logo1;
}
.skills-clicked-content .logo2 {
  grid-area: logo2;
}
.skills-clicked-content .logo3 {
  grid-area: logo3;
}
.skills-clicked-content .logo4 {
  grid-area: logo4;
}
.skills-clicked-content .logo5 {
  grid-area: logo5;
}

#content-fe {
  display: none;
}

#content-be {
  display: none;
}

#content-adobe {
  display: none;
}

#content-other {
  display: none;
}

.skills-title {
  font-size: 30px;
  margin: 5%;
  padding: 20px;
  border-radius: 100px;
  background-color: #6600bf;
  color: antiquewhite;
  cursor: pointer;
  transition: all 0.2s ease;
}
.skills-title:hover {
  background-color: antiquewhite;
  color: #6600bf;
  transition: all 0.5s ease;
  transform: scale(1.3);
}

.skills-selected {
  font-size: 40px;
  background-color: none;
  color: #6600bf;
  background-color: antiquewhite;
}
.skills-selected::after {
  content: "▶";
}

/*------------------------------------SKILLS-----------------------------*/
/*------------------------------------PROJECTS-----------------------------*/
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .project1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
}
@media screen and (max-width: 1200px) {
  .projects .project1 {
    flex-direction: column;
    margin: 5%;
  }
}
.projects .project1 img {
  border-radius: 25px;
  border: solid 4px black;
}
.projects .project1 .project-card {
  height: 22vw;
  width: 100%;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: contain;
  background-repeat: round;
  border-radius: 25px;
  border: solid 4px black;
  transform: translateZ(0);
  margin: 3%;
}
@media screen and (max-width: 1200px) {
  .projects .project1 .project-card {
    width: 70%;
    height: 35vw;
  }
}
.projects .project1 .project-card:after {
  content: " ";
  width: 100%;
  height: 10px;
}
.projects .project1 .project-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects .project1 .project-txt h4 {
  font-size: 45px;
}
.projects .project1 .project-txt p {
  margin: 3%;
}
.projects .project1 .project-txt .magnet {
  margin: 0;
}
.projects .project1 .project-card {
  background-image: url(../img/prjt-asc.jpg);
}
.projects .project2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
}
@media screen and (max-width: 1200px) {
  .projects .project2 {
    flex-direction: column;
    margin: 5%;
  }
}
.projects .project2 img {
  border-radius: 25px;
  border: solid 4px black;
}
.projects .project2 .project-card {
  height: 22vw;
  width: 100%;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: contain;
  background-repeat: round;
  border-radius: 25px;
  border: solid 4px black;
  transform: translateZ(0);
  margin: 3%;
}
@media screen and (max-width: 1200px) {
  .projects .project2 .project-card {
    width: 70%;
    height: 35vw;
  }
}
.projects .project2 .project-card:after {
  content: " ";
  width: 100%;
  height: 10px;
}
.projects .project2 .project-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects .project2 .project-txt h4 {
  font-size: 45px;
}
.projects .project2 .project-txt p {
  margin: 3%;
}
.projects .project2 .project-txt .magnet {
  margin: 0;
}
.projects .project2 .project-card {
  background-image: url(../img/prjt-rueil.jpg);
}
.projects .project3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
}
@media screen and (max-width: 1200px) {
  .projects .project3 {
    flex-direction: column;
    margin: 5%;
  }
}
.projects .project3 img {
  border-radius: 25px;
  border: solid 4px black;
}
.projects .project3 .project-card {
  height: 22vw;
  width: 100%;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: contain;
  background-repeat: round;
  border-radius: 25px;
  border: solid 4px black;
  transform: translateZ(0);
  margin: 3%;
}
@media screen and (max-width: 1200px) {
  .projects .project3 .project-card {
    width: 70%;
    height: 35vw;
  }
}
.projects .project3 .project-card:after {
  content: " ";
  width: 100%;
  height: 10px;
}
.projects .project3 .project-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects .project3 .project-txt h4 {
  font-size: 45px;
}
.projects .project3 .project-txt p {
  margin: 3%;
}
.projects .project3 .project-txt .magnet {
  margin: 0;
}
.projects .project3 .project-card {
  background-image: url(../img/zikos.jpg);
}

.reveal {
  opacity: 0;
  transform: translateY(-50px);
  transform: translateX(-100px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
  transition: 1s cubic-bezier(0.46, 0.22, 0.21, 1);
}

/*------------------------------------PROJECTS-----------------------------*/
/*------------------------------------PROJECTS-----------------------------*/
footer {
  background-color: #6600bf;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  height: 100%;
  margin-top: 8vh;
  padding: 2%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "titre sous-titre sous-titre" "cv gifFoot mycontact";
}
@media screen and (max-width: 1000px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "titre" "sous-titre" "cv" "gifFoot" "mycontact";
    gap: 20px;
  }
}
footer h2 {
  grid-area: titre;
  font-size: 60px;
  font-weight: 900;
  color: antiquewhite;
  padding: 4vh 2vw;
  margin-top: 5%;
}
@media screen and (max-width: 700px) {
  footer h2 {
    margin-top: 10%;
  }
}
footer h3 {
  grid-area: sous-titre;
  color: antiquewhite;
  font-size: 25px;
  font-family: "Ubuntu", "Segoe UI";
}
@media screen and (max-width: 1000px) {
  footer h3 {
    text-align: center;
  }
}
footer #cv {
  grid-area: cv;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: antiquewhite;
  font-size: 20px;
  text-decoration: none;
}
footer #cv h4 {
  font-family: "Ubuntu", "Segoe UI";
  font-size: 25px;
  color: #570A57;
}
footer #gifFoot {
  grid-area: gifFoot;
  width: 60%;
}
@media screen and (max-width: 1000px) {
  footer #gifFoot {
    width: 40%;
  }
}
footer #mycontact {
  grid-area: mycontact;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: none;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: space-evenly;
}
footer #mycontact h4 {
  font-family: "Ubuntu", "Segoe UI";
  font-size: 25px;
  color: #570A57;
}
footer #mycontact img {
  width: 5vw;
}
@media screen and (max-width: 1000px) {
  footer #mycontact img {
    width: 10vw;
  }
}
@media screen and (max-width: 1117px) {
  footer h4 {
    font-size: 15px;
  }
}

/*------------------------------------PROJECTS-----------------------------*/
/*------------------------------------OTHER-----------------------------*/
.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: antiquewhite;
}
::-webkit-scrollbar-track {
  background-color: #570A57;
}

::selection {
  color: #6600bf;
  background-color: antiquewhite;
}

/*------------------------------------OTHER-----------------------------*/
.largeTitle {
  height: 150vh;
  overflow: hidden;
  width: 100%;
}

.largeTitle .largeTitle-txt {
  margin-left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.largeTitle .line-0 {
  display: block;
  text-align: start;
  position: relative;
  transform: translate(0px, 0px);
  padding: 0 4rem;
  will-change: transform;
}

.char-1 {
  position: relative;
  display: inline-block;
  transform: translate(0px, 0%);
}

/*# sourceMappingURL=build.css.map */
